.productModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  padding-top: 10px;
}

.product__content {
  width: 990px;
  height: 80vh;
  position: relative;
  overflow: auto;
  padding: 60px 60px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}

.closeBtn {
  position: absolute;
  right: 4px;
  top: 11px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* product__content - container */

.container {
  width: 100%;
  overflow: auto;
  display: flex;
}

/* container - left container */

.left__container .thumbnailImg {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

/* container - right container */

.right__container {
  padding-left: 30px;
  text-align: left;
  width: 100%;
}
.right__container h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.right__container .price {
  display: flex;
  align-items: center;
  margin-bottom: 99px;
}

.right__container .not__count__info {
  display: none;
  cursor: auto;
}

.price .price__title {
  font-family: "SpoqaHanSansNeo-Medium";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-right: 2px;
}
.right__container .shipFee {
  color: #828282;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.right__container .count__box {
  padding: 10px 0px;
  border-bottom: 2px solid #e0e0e0;
  border-top: 2px solid #e0e0e0;
  margin-bottom: 16px;
}

.right__container .count__countainer {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: 122px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /*   align-items:center; */
}

.count__countainer input {
  width: 100%;
  border: none;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}
.count__countainer button {
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.right__container .total__price__container {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}

.total__price__container h3 {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

.total__price__container .total__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 305px;
}
.total__price .price__text {
  color: #828282;
  font-size: 18px;
  line-height: 22.54px;
  font-weight: 400;
}

.price__text .count {
  font-family: "SpoqaHanSansNeo-Medium";
  color: #eb5757;
}

.total__price .border {
  border: 1px solid #c4c4c4;

  padding: 10px 0px;
}

.total__price .total__price__title {
  font-family: "SpoqaHanSansNeo-Medium";
  font-weight: 700;
  color: #eb5757;
  font-size: 36px;
}
.total__price__title .total__price__text {
  font-size: 18px;
}

.right__container .btn__container {
  display: flex;
  justify-content: space-between;
}
.right__container .margin {
  margin-top: 275px;
}
.btn__container .buy__btn {
  width: 308px;
  background-color: #6327fe;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #ffff;
  font-weight: 700;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.btn__container .cancel {
  background-color: #bdbdbd;
  cursor: auto;
}

.btn__container .like__detail__item,
.cart__detail__item {
  outline: none;
  width: 25px;
  background-color: transparent;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 15px 17px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn__container .like__detail__item img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

/* product__content - product__info */
.product__info {
  margin-top: 40px;
}
.product__info .info__title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
